<!doctype html>
<html lang="en">
  <head>
	{% extends 'base.html' %}

    {%block title%}
        <title> Careers </title>
    {%endblock title%}
</head>
<body>
    {%block content%}
        <h3>{{career_title}} </h3>
        <pre>
            <p>{{career_text}}</p>
        </pre>


        <h3>{{career_title2}}</h3>

        <pre>
            <p>{{career_text2}}</p>
        </pre>
        
        <h3>{{career_title3}}</h3>

        <pre>
            <p>{{career_text3}}</p>
        </pre>


    {%endblock content%}
</body>

</html>